body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

/*=========common=========*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*============header============*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
    display: none;
  }

      .header-nav {
    display: flex;
    align-items: center;
  }

    .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

    .header-logo{
    padding: 24px 0;
    margin-right: 120px;
  }

    .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .nav-link.current {
    position: relative;
}

    .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

    .contacts {
    font-style: normal;
    display: block;
  }

    .contacts-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
    .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }

   .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*========mobile-menu=========*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-nav-list {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.menu-nav-link{
    display: block;
    padding: 24px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: / 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link.current {
    position: relative;
}


.menu-nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.menu-contacts {
    font-style: normal;
    display: block;
}

.menu-contacts-list {
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.menu-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.menu-contacts-link:hover,
.menu-contacts-link:focus,
.menu-nav-link.current {
    color: #404bbf;
}


.menu-social {
    display: block;
    align-items: center;
    margin-top: 48px;
}

.icon-list-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icon-item-menu {
    width: 40px;
    height: 40px;
}

.icon-link-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-menu:hover,
.icon-link-menu:focus {
    background-color: #31d0aa;
}

.icon-social-menu {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
     .mobile-menu {
        display: none;
     }
}

/*==============page hero=============*/

.hero-container {
    display: block;
    align-items: center;
}

.page-hero {
    padding: 72px 0;
    max-width: 320px;
    height: 600px;
    margin: 0 auto;
    background-color: #2e2f42;
    text-align: center;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/people-office-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titel-hero {
    max-width: 216px;
    height: 160px;
    margin-top: 0;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-hero {
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    display: block;
    text-align: center;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
   .page-hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url('../images/people-office.jpg');
        }
    
        .titel-hero {
            max-width: 496px;
            height: 120px;
            margin-bottom: 36px;
            font-size: 56px;
            line-height: 1.07;
        }
}

@media screen and (min-width: 1158px) {
    .page-hero {
        padding: 188px 0;
        max-width: 1440px;
    }

    .titel-hero {
        max-width: 496px;
        height: 120px;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    }
}

/*===============about============*/

.about-container {

    display: flex;
    max-width: 320px;
}

.about {
    padding: 96px 0;
    margin: 0 auto;
}

.list-about {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.item-list-about {
    width: 100%;
}

.title-list {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-item-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-about {
    display: none;
}

@media screen and (min-width: 768px) {
    .about-container {
        max-width: 736px;
    }
    
    .list-about {
        gap: 24px;  
    }

    .item-list-about {
        width: calc((100% - 24px) / 2);  
    }

    .title-list {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {

    .about-container {
        max-width: 1158px;
    }

    .about {
        padding: 120px 0;
        }

    .item-list-about {
        width: calc((100% - 72px) / 4);
    }

    .title-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2; 
    }

    .text-item-list {
        font-weight: 400;
   }

   .icon-about {
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        width: 264px;
        height: 112px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;   
   }
}

/*============team=============*/

.team-container {
    padding: 96px 28px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    text-align: center;
    background-color: #f4f4fd;
}

.team {
     margin: 0 auto;
}

.list-team {    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.item-list-team {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-team-personal {
    padding: 32px 0;
    justify-content: center;
    gap: 24px;
}

.title-sections-team {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-list-team {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-item-team {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-item {
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-item:hover {
    background-color: #404bbf;
    border-radius: 50%;
}

.icon-team {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .team-container {
        max-width: 768px;
        padding: 96px 108px;
        }    

    .list-team {
        gap: 24px;
        }    
    
    .item-list-team {
        width: calc((100% - 24px)/2);
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        max-width: 1440px;
        padding: 120px 0;
    }
    
        .list-team {
        gap: 24px;
        justify-content: center;
    }
    
        .item-list-team {
        width: calc((100% - 72px) / 4);
        max-width: 264px;
    }
}

/*==============portfolio=================*/


.portf {
    max-width: 320px;
    margin: 0 auto;
}

.portf-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 96px 16px;
    max-width: 288px;
    margin: 0 auto;
}

.list-portf {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 288px;
    min-width: 100px;
    align-items: center;
    gap: 48px;
}

.item-portf {
    min-width: 100px;
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            1px 6px 0 rgba(46, 47, 66, 0.08);    
}

.servis-portf {
    max-width: 100%;
    text-align: left;
    padding: 32px 16px;
    height: auto;
}

.titel-sections-portf {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;    
}

.item-portf:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transform: translateY(0%);
}

.servis-portf {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    padding: 32px 16px;
}


.titel-list-portf {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item-list {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.img-wrapper {
    width: 288px;
    height: 280px;
    overflow: hidden;
    position: relative; 
}

.item-portf .img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.img-wrapper:hover .text-card {
    transform: translatex(0);
}

.text-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 0;
    transform: translatey(100%);
    background-color: #4d5ae5;
}

@media screen and (min-width: 768px) {

     .portf {
        max-width: 768px;
      }
    
    .portf-container {
        max-width: 768px;
        padding: 96px 16px;
        align-items: center;
        margin: 0 auto;
      } 
    
    .list-portf {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 72px;
      }
    
    .item-portf {
        width: calc((100% - 24px) / 2);
      }
    
    .servis-portf {
        width: 100%;
        padding: 32px 16px;
      }    
      
    .img-wrapper {
        width: 356px;
        height: 300px;   }
    }

@media screen and (min-width: 1158px) {
    .portf {
        max-width: 1158px;
    }
    
    .portf-container {
        max-width: 1158px;
        padding: 120px 0;
    }
    
    .list-portf {
        row-gap: 48px;
    }
    
    .item-portf {
        width: calc((100% - 48px) / 3);
    }

    .img-wrapper {
        width: 360px;
        height: 300px;  
    }
}

/*===============footer================*/

.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
    width: 100%; 
    margin: 0 auto;
    }

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 664px; 
    gap: 72px;
}

.footer-container,
.footer-social,
.footer-form-conteiner {
    width: 100%;
}
    
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-footer {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    font-weight: 400;
    margin: 0 auto;
    text-align: start;
}

.footer-social {
    margin: 0 auto;
}

.text-footer-social {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}

.icon-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icon-item-footer {
    width: 40px;
    height: 40px;
}

.icon-link-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-foot:hover,
.icon-link-foot:focus {
    background-color: #31d0aa;
}

.icon-social-footer {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-input-titel {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 24px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-btn {
    border-radius: 4px;
    border: none;
    display: flex;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-btn:hover,
.footer-btn:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}

.footer-icon-btn {
    fill: #fff;
    margin-left: 16px;
}

.text-footer {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    font-weight: 500;
    margin: 0 auto;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .page-container {
        max-width: 768px;
        display: flex;
        padding: 108px 96px;    
        flex-direction: row;
        flex-wrap: wrap;
        text-align: start;
        align-items: start;
        width: 100%;
        column-gap: 24px;
        row-gap: 72px;

    }

    .footer-container,
    .footer-social,
    .footer-form-conteiner {
        width: calc((100% - 24px) / 2);
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        
    }
    .footer-input {
        width: 264px;
        height: 40px;
    }

    .icon-list-footer {
        align-items: start;
        justify-content: start;
    }

    .footer-input-titel {
        flex-grow: 1;
        margin: 0;
    }
}


@media screen and (min-width: 1158px) {
    .page-container {
        max-width: 1158px;
        display: flex;
        padding: 100px 158px 100px 156px;
        flex-direction: row;
        flex-wrap: nowrap;       
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
    }

    .footer-container {
        width: 264px;
        margin-right: 120px;
    }

    .footer-social {
        width: 208px;
        margin-right: 100px;
    }

    .footer-form-conteiner {
        width: 453px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .footer-input-titel {
        flex-grow: 1;
        margin: 0;
    }

    .footer-input {
        /* max-width: none;
        width: 100%; */
        width: 264px;
        height: 40px;
    }

    .icon-list-footer {
        justify-content: flex-start;
        align-items: center;
    }

    .text-footer {
        width: 264px;
        /* height: 112px;  */
        /* display: block; */
    }
}
           

/*============modal==============*/


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close,
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus,
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-cross,
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .mobile-menu-cross,
.mobile-menu-close:focus .mobile-menu-cross,
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-form {
    margin: 16px auto;
    display: flex;
    flex-direction: column;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-titel {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input-cover {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}


.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}


.modal-field-checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin: 16px auto 24px;
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}


.check-element {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text .check-element {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.modal-link {
    color: #4d5ae5;
    text-decoration: underline;
}


.modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }


@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }     
}